// Font weights

.normal {
  font-weight: normal;
}

.b {
  font-weight: bold;
}

.thin {
  font-weight: 100;
}

.book {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.heavy {
  font-weight: 900;
}

@media screen and (min-width: 42em) {
  .normal-s {
    font-weight: normal;
  }

  .b-s {
    font-weight: bold;
  }

  .thin-s {
    font-weight: 100;
  }

  .book-s {
    font-weight: 400;
  }

  .bold-s {
    font-weight: 700;
  }

  .heavy-s {
    font-weight: 900;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .normal-m {
    font-weight: normal;
  }

  .b-m {
    font-weight: bold;
  }

  .thin-m {
    font-weight: 100;
  }

  .book-m {
    font-weight: 400;
  }

  .bold-m {
    font-weight: 700;
  }

  .heavy-m {
    font-weight: 900;
  }
}

@media screen and (min-width: 64em) {
  .normal-l {
    font-weight: normal;
  }

  .b-l {
    font-weight: bold;
  }

  .thin-l {
    font-weight: 100;
  }

  .book-l {
    font-weight: 400;
  }

  .bold-l {
    font-weight: 700;
  }

  .heavy-l {
    font-weight: 900;
  }
}

// Code

.pre {
  overflow-x: auto;
  overflow-y: hidden;
  overflow: scroll;
}

.code {
  white-space: pre;
  font-size: 14px;
}

// Line Height

.lh {
  line-height: 1;
}

.lh-title {
  line-height: 1.3;
}

.lh-copy {
  line-height: 1.6;
}

@media screen and (min-width: 42em) {
  .lh-s {
    line-height: 1;
  }

  .lh-title-s {
    line-height: 1.3;
  }

  .lh-copy-s {
    line-height: 1.6;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .lh-m {
    line-height: 1;
  }

  .lh-title-m {
    line-height: 1.3;
  }

  .lh-copy-m {
    line-height: 1.6;
  }
}

@media screen and (min-width: 64em) {
  .lh-l {
    line-height: 1;
  }

  .lh-title-l {
    line-height: 1.3;
  }

  .lh-copy-l {
    line-height: 1.6;
  }
}

// Links

.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link,
.link:visited {
  color: #2D243B;
  transition: color .15s ease-in;
}

.link:hover {
  color: #999999;
  transition: color .15s ease-in;
}

.link:active {
  color: #C4E3E0;
  transition: color .15s ease-in;
}

.link:focus {
  color: #2D243B;
  transition: color .15s ease-in;
}

.underline {
  text-decoration: underline;
}

.underline-hover:hover {
  text-decoration: underline;
}

/*
   SPACING

   An eight step powers of two scale ranging from 0 to 16rem.

   Legend:

   p = padding
   m = margin

   a = all
   h = horizontal
   v = vertical
   t = top
   r = right
   b = bottom
   l = left

   n = none
   xs = extra small
   s = small
   m = medium
   l = large
   x = extra
   xl = extra large
   xxl = extra extra large

*/

.pan {
  padding: 0;
}

.paxs {
  padding: .25rem;
}

.pas {
  padding: .5rem;
}

.pam {
  padding: 1rem;
}

.pal {
  padding: 2rem;
}

.pax {
  padding: 4rem;
}

.paxl {
  padding: 8rem;
}

.paxxl {
  padding: 16rem;
}

.pln {
  padding-left: 0;
}

.plxs {
  padding-left: .25rem;
}

.pls {
  padding-left: .5rem;
}

.plm {
  padding-left: 1rem;
}

.pll {
  padding-left: 2rem;
}

.plx {
  padding-left: 4rem;
}

.plxl {
  padding-left: 8rem;
}

.plxxl {
  padding-left: 16rem;
}

.prn {
  padding-right: 0;
}

.prxs {
  padding-right: .25rem;
}

.prs {
  padding-right: .5rem;
}

.prm {
  padding-right: 1rem;
}

.prl {
  padding-right: 2rem;
}

.prx {
  padding-right: 4rem;
}

.prxl {
  padding-right: 8rem;
}

.prxxl {
  padding-right: 16rem;
}

.pbn {
  padding-bottom: 0;
}

.pbxs {
  padding-bottom: .25rem;
}

.pbs {
  padding-bottom: .5rem;
}

.pbm {
  padding-bottom: 1rem;
}

.pbl {
  padding-bottom: 2rem;
}

.pbx {
  padding-bottom: 4rem;
}

.pbxl {
  padding-bottom: 8rem;
}

.pbxxl {
  padding-bottom: 16rem;
}

.ptn {
  padding-top: 0;
}

.ptxs {
  padding-top: .25rem;
}

.pts {
  padding-top: .5rem;
}

.ptm {
  padding-top: 1rem;
}

.ptl {
  padding-top: 2rem;
}

.ptx {
  padding-top: 4rem;
}

.ptxl {
  padding-top: 8rem;
}

.ptxxl {
  padding-top: 16rem;
}

.pvn {
  padding-top: 0;
  padding-bottom: 0;
}

.pvxs {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.pvs {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.pvm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pvl {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pvx {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pvxl {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.pvxxl {
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.phn {
  padding-left: 0;
  padding-right: 0;
}

.phxs {
  padding-left: .25rem;
  padding-right: .25rem;
}

.phs {
  padding-left: .5rem;
  padding-right: .5rem;
}

.phm {
  padding-left: 1rem;
  padding-right: 1rem;
}

.phl {
  padding-left: 2rem;
  padding-right: 2rem;
}

.phx {
  padding-left: 4rem;
  padding-right: 4rem;
}

.phxl {
  padding-left: 8rem;
  padding-right: 8rem;
}

.phxxl {
  padding-left: 16rem;
  padding-right: 16rem;
}

.man {
  margin: 0;
}

.maxs {
  margin: .25rem;
}

.mas {
  margin: .5rem;
}

.mam {
  margin: 1rem;
}

.mal {
  margin: 2rem;
}

.max {
  margin: 4rem;
}

.maxl {
  margin: 8rem;
}

.maxxl {
  margin: 16rem;
}

.mln {
  margin-left: 0;
}

.mlxs {
  margin-left: .25rem;
}

.mls {
  margin-left: .5rem;
}

.mlm {
  margin-left: 1rem;
}

.mll {
  margin-left: 2rem;
}

.mlx {
  margin-left: 4rem;
}

.mlxl {
  margin-left: 8rem;
}

.mlxxl {
  margin-left: 16rem;
}

.mrn {
  margin-right: 0;
}

.mrxs {
  margin-right: .25rem;
}

.mrs {
  margin-right: .5rem;
}

.mrm {
  margin-right: 1rem;
}

.mrl {
  margin-right: 2rem;
}

.mrx {
  margin-right: 4rem;
}

.mrxl {
  margin-right: 8rem;
}

.mrxxl {
  margin-right: 16rem;
}

.mbn {
  margin-bottom: 0;
}

.mbxs {
  margin-bottom: .25rem;
}

.mbs {
  margin-bottom: .5rem;
}

.mbm {
  margin-bottom: 1rem;
}

.mbl {
  margin-bottom: 2rem;
}

.mbx {
  margin-bottom: 4rem;
}

.mbxl {
  margin-bottom: 8rem;
}

.mbxxl {
  margin-bottom: 16rem;
}

.mtn {
  margin-top: 0;
}

.mtxs {
  margin-top: .25rem;
}

.mts {
  margin-top: .5rem;
}

.mtm {
  margin-top: 1rem;
}

.mtl {
  margin-top: 2rem;
}

.mtx {
  margin-top: 4rem;
}

.mtxl {
  margin-top: 8rem;
}

.mtxxl {
  margin-top: 16rem;
}

.mvn {
  margin-top: 0;
  margin-bottom: 0rem;
}

.mvxs {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.mvs {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.mvm {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mvl {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mvx {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mvxl {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.mvxxl {
  margin-top: 16rem;
  margin-bottom: 16rem;
}

.mhn {
  margin-left: 0;
  margin-right: 0;
}

.mhs {
  margin-left: .5rem;
  margin-right: .5rem;
}

.mhm {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mhl {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mhx {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mhxl {
  margin-left: 8rem;
  margin-right: 8rem;
}

.mhxxl {
  margin-left: 16rem;
  margin-right: 16rem;
}

@media screen and (min-width: 42em) {
  .pan-s {
    padding: 0;
  }

  .paxs-s {
    padding: .25rem;
  }

  .pas-s {
    padding: .5rem;
  }

  .pam-s {
    padding: 1rem;
  }

  .pal-s {
    padding: 2rem;
  }

  .pax-s {
    padding: 4rem;
  }

  .paxl-s {
    padding: 8rem;
  }

  .paxxl-s {
    padding: 16rem;
  }

  .pln-s {
    padding-left: 0;
  }

  .plxs-s {
    padding-left: .25rem;
  }

  .pls-s {
    padding-left: .5rem;
  }

  .plm-s {
    padding-left: 1rem;
  }

  .pll-s {
    padding-left: 2rem;
  }

  .plx-s {
    padding-left: 4rem;
  }

  .plxl-s {
    padding-left: 8rem;
  }

  .plxxl-s {
    padding-left: 16rem;
  }

  .prn-s {
    padding-right: 0;
  }

  .prxs-s {
    padding-right: .25rem;
  }

  .prs-s {
    padding-right: .5rem;
  }

  .prm-s {
    padding-right: 1rem;
  }

  .prl-s {
    padding-right: 2rem;
  }

  .prx-s {
    padding-right: 4rem;
  }

  .prxl-s {
    padding-right: 8rem;
  }

  .prxxl-s {
    padding-right: 16rem;
  }

  .pbn-s {
    padding-bottom: 0;
  }

  .pbxs-s {
    padding-bottom: .25rem;
  }

  .pbs-s {
    padding-bottom: .5rem;
  }

  .pbm-s {
    padding-bottom: 1rem;
  }

  .pbl-s {
    padding-bottom: 2rem;
  }

  .pbx-s {
    padding-bottom: 4rem;
  }

  .pbxl-s {
    padding-bottom: 8rem;
  }

  .pbxxl-s {
    padding-bottom: 16rem;
  }

  .ptn-s {
    padding-top: 0;
  }

  .ptxs-s {
    padding-top: .25rem;
  }

  .pts-s {
    padding-top: .5rem;
  }

  .ptm-s {
    padding-top: 1rem;
  }

  .ptl-s {
    padding-top: 2rem;
  }

  .ptx-s {
    padding-top: 4rem;
  }

  .ptxl-s {
    padding-top: 8rem;
  }

  .ptxxl-s {
    padding-top: 16rem;
  }

  .pvn-s {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pvxs-s {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }

  .pvs-s {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .pvm-s {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .pvl-s {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .pvx-s {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .pvxl-s {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .pvxxl-s {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }

  .phn-s {
    padding-left: 0;
    padding-right: 0;
  }

  .pvxs-s {
    padding-left: .25rem;
    padding-right: .25rem;
  }

  .phs-s {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .phm-s {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .phl-s {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .phx-s {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .phxl-s {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .phxxl-s {
    padding-left: 16rem;
    padding-right: 16rem;
  }

  .man-s {
    margin: 0;
  }

  .maxs-s {
    margin: .25rem;
  }

  .mas-s {
    margin: .5rem;
  }

  .mam-s {
    margin: 1rem;
  }

  .mal-s {
    margin: 2rem;
  }

  .max-s {
    margin: 4rem;
  }

  .maxl-s {
    margin: 8rem;
  }

  .maxxl-s {
    margin: 16rem;
  }

  .mln-s {
    margin-left: 0;
  }

  .mlxs-s {
    margin-left: .25rem;
  }

  .mls-s {
    margin-left: .5rem;
  }

  .mlm-s {
    margin-left: 1rem;
  }

  .mll-s {
    margin-left: 2rem;
  }

  .mlx-s {
    margin-left: 4rem;
  }

  .mlxl-s {
    margin-left: 8rem;
  }

  .mlxxl-s {
    margin-left: 16rem;
  }

  .mrn-s {
    margin-right: 0;
  }

  .mrxs-s {
    margin-right: .25rem;
  }

  .mrs-s {
    margin-right: .5rem;
  }

  .mrm-s {
    margin-right: 1rem;
  }

  .mrl-s {
    margin-right: 2rem;
  }

  .mrx-s {
    margin-right: 4rem;
  }

  .mrxl-s {
    margin-right: 8rem;
  }

  .mrxxl-s {
    margin-right: 16rem;
  }

  .mbn-s {
    margin-bottom: 0;
  }

  .mbxs-s {
    margin-bottom: .25rem;
  }

  .mbs-s {
    margin-bottom: .5rem;
  }

  .mbm-s {
    margin-bottom: 1rem;
  }

  .mbl-s {
    margin-bottom: 2rem;
  }

  .mbx-s {
    margin-bottom: 4rem;
  }

  .mbxl-s {
    margin-bottom: 8rem;
  }

  .mbxxl-s {
    margin-bottom: 16rem;
  }

  .mtn-s {
    margin-top: 0;
  }

  .mtxs-s {
    margin-top: .25rem;
  }

  .mts-s {
    margin-top: .5rem;
  }

  .mtm-s {
    margin-top: 1rem;
  }

  .mtl-s {
    margin-top: 2rem;
  }

  .mtx-s {
    margin-top: 4rem;
  }

  .mtxl-s {
    margin-top: 8rem;
  }

  .mtxxl-s {
    margin-top: 16rem;
  }

  .mvn-s {
    margin-top: 0;
    margin-bottom: 0rem;
  }

  .mvxs-s {
    margin-top: .25rem;
    margin-bottom: .25rem;
  }

  .mvs-s {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  .mvm-s {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .mvl-s {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .mvx-s {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .mvxl-s {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .mvxxl-s {
    margin-top: 16rem;
    margin-bottom: 16rem;
  }

  .mhn-s {
    margin-left: 0;
    margin-right: 0;
  }

  .mhs-s {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .mhm-s {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .mhl-s {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .mhx-s {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .mhxl-s {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .mhxxl-s {
    margin-left: 16rem;
    margin-right: 16rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .pan-m {
    padding: 0;
  }

  .paxs-m {
    padding: .25rem;
  }

  .pas-m {
    padding: .5rem;
  }

  .pam-m {
    padding: 1rem;
  }

  .pal-m {
    padding: 2rem;
  }

  .pax-m {
    padding: 4rem;
  }

  .paxl-m {
    padding: 8rem;
  }

  .paxxl-m {
    padding: 16rem;
  }

  .pln-m {
    padding-left: 0;
  }

  .plxs-m {
    padding-left: .25rem;
  }

  .pls-m {
    padding-left: .5rem;
  }

  .plm-m {
    padding-left: 1rem;
  }

  .pll-m {
    padding-left: 2rem;
  }

  .plx-m {
    padding-left: 4rem;
  }

  .plxl-m {
    padding-left: 8rem;
  }

  .plxxl-m {
    padding-left: 16rem;
  }

  .prn-m {
    padding-right: 0;
  }

  .prxs-m {
    padding-right: .25rem;
  }

  .prs-m {
    padding-right: .5rem;
  }

  .prm-m {
    padding-right: 1rem;
  }

  .prl-m {
    padding-right: 2rem;
  }

  .prx-m {
    padding-right: 4rem;
  }

  .prxl-m {
    padding-right: 8rem;
  }

  .prxxl-m {
    padding-right: 16rem;
  }

  .pbn-m {
    padding-bottom: 0;
  }

  .pbxs-m {
    padding-bottom: .25rem;
  }

  .pbs-m {
    padding-bottom: .5rem;
  }

  .pbm-m {
    padding-bottom: 1rem;
  }

  .pbl-m {
    padding-bottom: 2rem;
  }

  .pbx-m {
    padding-bottom: 4rem;
  }

  .pbxl-m {
    padding-bottom: 8rem;
  }

  .pbxxl-m {
    padding-bottom: 16rem;
  }

  .ptn-m {
    padding-top: 0;
  }

  .ptxs-m {
    padding-top: .25rem;
  }

  .pts-m {
    padding-top: .5rem;
  }

  .ptm-m {
    padding-top: 1rem;
  }

  .ptl-m {
    padding-top: 2rem;
  }

  .ptx-m {
    padding-top: 4rem;
  }

  .ptxl-m {
    padding-top: 8rem;
  }

  .ptxxl-m {
    padding-top: 16rem;
  }

  .pvn-m {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pvxs-m {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }

  .pvs-m {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .pvm-m {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .pvl-m {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .pvx-m {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .pvxl-m {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .pvxxl-m {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }

  .phn-m {
    padding-left: 0;
    padding-right: 0;
  }

  .pvxs-m {
    padding-left: .25rem;
    padding-right: .25rem;
  }

  .phs-m {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .phm-m {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .phl-m {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .phx-m {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .phxl-m {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .phxxl-m {
    padding-left: 16rem;
    padding-right: 16rem;
  }

  .man-m {
    margin: 0;
  }

  .maxs-m {
    margin: .25rem;
  }

  .mas-m {
    margin: .5rem;
  }

  .mam-m {
    margin: 1rem;
  }

  .mal-m {
    margin: 2rem;
  }

  .max-m {
    margin: 4rem;
  }

  .maxl-m {
    margin: 8rem;
  }

  .maxxl-m {
    margin: 16rem;
  }

  .mln-m {
    margin-left: 0;
  }

  .mlxs-m {
    margin-left: .25rem;
  }

  .mls-m {
    margin-left: .5rem;
  }

  .mlm-m {
    margin-left: 1rem;
  }

  .mll-m {
    margin-left: 2rem;
  }

  .mlx-m {
    margin-left: 4rem;
  }

  .mlxl-m {
    margin-left: 8rem;
  }

  .mlxxl-m {
    margin-left: 16rem;
  }

  .mrn-m {
    margin-right: 0;
  }

  .mrxs-m {
    margin-right: .25rem;
  }

  .mrs-m {
    margin-right: .5rem;
  }

  .mrm-m {
    margin-right: 1rem;
  }

  .mrl-m {
    margin-right: 2rem;
  }

  .mrx-m {
    margin-right: 4rem;
  }

  .mrxl-m {
    margin-right: 8rem;
  }

  .mrxxl-m {
    margin-right: 16rem;
  }

  .mbn-m {
    margin-bottom: 0;
  }

  .mbxs-m {
    margin-bottom: .25rem;
  }

  .mbs-m {
    margin-bottom: .5rem;
  }

  .mbm-m {
    margin-bottom: 1rem;
  }

  .mbl-m {
    margin-bottom: 2rem;
  }

  .mbx-m {
    margin-bottom: 4rem;
  }

  .mbxl-m {
    margin-bottom: 8rem;
  }

  .mbxxl-m {
    margin-bottom: 16rem;
  }

  .mtn-m {
    margin-top: 0;
  }

  .mtxs-m {
    margin-top: .25rem;
  }

  .mts-m {
    margin-top: .5rem;
  }

  .mtm-m {
    margin-top: 1rem;
  }

  .mtl-m {
    margin-top: 2rem;
  }

  .mtx-m {
    margin-top: 4rem;
  }

  .mtxl-m {
    margin-top: 8rem;
  }

  .mtxxl-m {
    margin-top: 16rem;
  }

  .mvn-m {
    margin-top: 0;
    margin-bottom: 0rem;
  }

  .mvxs-m {
    margin-top: .25rem;
    margin-bottom: .25rem;
  }

  .mvs-m {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  .mvm-m {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .mvl-m {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .mvx-m {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .mvxl-m {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .mvxxl-m {
    margin-top: 16rem;
    margin-bottom: 16rem;
  }

  .mhn-m {
    margin-left: 0;
    margin-right: 0;
  }

  .mhxs-m {
    margin-left: .25rem;
    margin-right: .25rem;
  }

  .mhs-m {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .mhm-m {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .mhl-m {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .mhx-m {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .mhxl {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .mhxxl {
    margin-left: 16rem;
    margin-right: 16rem;
  }
}

@media screen and (min-width: 64em) {
  .pan-l {
    padding: 0;
  }

  .paxs-l {
    padding: .25rem;
  }

  .pas-l {
    padding: .5rem;
  }

  .pam-l {
    padding: 1rem;
  }

  .pal-l {
    padding: 2rem;
  }

  .pax-l {
    padding: 4rem;
  }

  .paxl-l {
    padding: 8rem;
  }

  .paxxl-l {
    padding: 16rem;
  }

  .pln-l {
    padding-left: 0;
  }

  .plxs-l {
    padding-left: .25rem;
  }

  .pls-l {
    padding-left: .5rem;
  }

  .plm-l {
    padding-left: 1rem;
  }

  .pll-l {
    padding-left: 2rem;
  }

  .plx-l {
    padding-left: 4rem;
  }

  .plxl-l {
    padding-left: 8rem;
  }

  .plxxl-l {
    padding-left: 16rem;
  }

  .prn-l {
    padding-right: 0;
  }

  .prxs-l {
    padding-right: .25rem;
  }

  .prs-l {
    padding-right: .5rem;
  }

  .prm-l {
    padding-right: 1rem;
  }

  .prl-l {
    padding-right: 2rem;
  }

  .prx-l {
    padding-right: 4rem;
  }

  .prxl-l {
    padding-right: 8rem;
  }

  .prxxl-l {
    padding-right: 16rem;
  }

  .pbn-l {
    padding-bottom: 0;
  }

  .pbxs-l {
    padding-bottom: .25rem;
  }

  .pbs-l {
    padding-bottom: .5rem;
  }

  .pbm-l {
    padding-bottom: 1rem;
  }

  .pbl-l {
    padding-bottom: 2rem;
  }

  .pbx-l {
    padding-bottom: 4rem;
  }

  .pbxl-l {
    padding-bottom: 8rem;
  }

  .pbxxl-l {
    padding-bottom: 16rem;
  }

  .ptn-l {
    padding-top: 0;
  }

  .ptxs-l {
    padding-top: .25rem;
  }

  .pts-l {
    padding-top: .5rem;
  }

  .ptm-l {
    padding-top: 1rem;
  }

  .ptl-l {
    padding-top: 2rem;
  }

  .ptx-l {
    padding-top: 4rem;
  }

  .ptxl-l {
    padding-top: 8rem;
  }

  .ptxxl-l {
    padding-top: 16rem;
  }

  .pvn-l {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pvxs-l {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }

  .pvs-l {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .pvm-l {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .pvl-l {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .pvx-l {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .pvxl-l {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .pvxxl-l {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }

  .phn-l {
    padding-left: 0;
    padding-right: 0;
  }

  .pvxs-l {
    padding-left: .25rem;
    padding-right: .25rem;
  }

  .phs-l {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .phm-l {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .phl-l {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .phx-l {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .phxl-l {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .phxxl-l {
    padding-left: 16rem;
    padding-right: 16rem;
  }

  .man-l {
    margin: 0;
  }

  .maxs-l {
    margin: .25rem;
  }

  .mas-l {
    margin: .5rem;
  }

  .mam-l {
    margin: 1rem;
  }

  .mal-l {
    margin: 2rem;
  }

  .max-l {
    margin: 4rem;
  }

  .maxl-l {
    margin: 8rem;
  }

  .maxxl-l {
    margin: 16rem;
  }

  .mln-l {
    margin-left: 0;
  }

  .mlxs-l {
    margin-left: .25rem;
  }

  .mls-l {
    margin-left: .5rem;
  }

  .mlm-l {
    margin-left: 1rem;
  }

  .mll-l {
    margin-left: 2rem;
  }

  .mlx-l {
    margin-left: 4rem;
  }

  .mlxl-l {
    margin-left: 8rem;
  }

  .mlxxl-l {
    margin-left: 16rem;
  }

  .mrn-l {
    margin-right: 0;
  }

  .mrxs-l {
    margin-right: .25rem;
  }

  .mrs-l {
    margin-right: .5rem;
  }

  .mrm-l {
    margin-right: 1rem;
  }

  .mrl-l {
    margin-right: 2rem;
  }

  .mrx-l {
    margin-right: 4rem;
  }

  .mrxl-l {
    margin-right: 8rem;
  }

  .mrxxl-l {
    margin-right: 16rem;
  }

  .mbn-l {
    margin-bottom: 0;
  }

  .mbxs-l {
    margin-bottom: .25rem;
  }

  .mbs-l {
    margin-bottom: .5rem;
  }

  .mbm-l {
    margin-bottom: 1rem;
  }

  .mbl-l {
    margin-bottom: 2rem;
  }

  .mbx-l {
    margin-bottom: 4rem;
  }

  .mbxl-l {
    margin-bottom: 8rem;
  }

  .mbxxl-l {
    margin-bottom: 16rem;
  }

  .mtn-l {
    margin-top: 0;
  }

  .mtxs-l {
    margin-top: .25rem;
  }

  .mts-l {
    margin-top: .5rem;
  }

  .mtm-l {
    margin-top: 1rem;
  }

  .mtl-l {
    margin-top: 2rem;
  }

  .mtx-l {
    margin-top: 4rem;
  }

  .mtxl-l {
    margin-top: 8rem;
  }

  .mtxxl-l {
    margin-top: 16rem;
  }

  .mvn-l {
    margin-top: 0;
    margin-bottom: 0rem;
  }

  .mvxs-l {
    margin-top: .25rem;
    margin-bottom: .25rem;
  }

  .mvs-l {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  .mvm-l {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .mvl-l {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .mvx-l {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .mvxl-l {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .mvxxl-l {
    margin-top: 16rem;
    margin-bottom: 16rem;
  }

  .mhn-l {
    margin-left: 0;
    margin-right: 0;
  }

  .mhxs-l {
    margin-left: .25rem;
    margin-right: .25rem;
  }

  .mhs-l {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .mhm-l {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .mhl-l {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .mhx-l {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .mhxl-l {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .mhxxl-l {
    margin-left: 16rem;
    margin-right: 16rem;
  }
}

// Lists

.list {
  list-style-type: none;
}

@media screen and (min-width: 42em) {
  .list-s {
    list-style-type: none;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .list-m {
    list-style: none;
  }
}

@media screen and (min-width: 64em) {
  .list-l {
    list-style-type: none;
  }
}

// Max-Widths

.mw-100 {
  max-width: 100%;
}

.mw-75 {
  max-width: 75%;
}

.mw-50 {
  max-width: 50%;
}

.mw-25 {
  max-width: 25%;
}

.mw1 {
  max-width: 1rem;
}

.mw2 {
  max-width: 2rem;
}

.mw3 {
  max-width: 4rem;
}

.mw4 {
  max-width: 8rem;
}

.mw5 {
  max-width: 16rem;
}

.mw6 {
  max-width: 32rem;
}

.mw7 {
  max-width: 48rem;
}

.mw8 {
  max-width: 64rem;
}

.mw9 {
  max-width: 96rem;
}

.mw10 {
  max-width: 128rem;
}

.mw-none {
  max-width: none;
}

.mw-max {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.mw-min {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
}

.mw-fit {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.mw-fill {
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  max-width: fill-available;
}

@media screen and (min-width: 42em) {
  .mw-100-s {
    max-width: 100%;
  }

  .mw-75-s {
    max-width: 75%;
  }

  .mw-50-s {
    max-width: 50%;
  }

  .mw-25-s {
    max-width: 25%;
  }

  .mw1-s {
    max-width: 1rem;
  }

  .mw2-s {
    max-width: 2rem;
  }

  .mw3-s {
    max-width: 4rem;
  }

  .mw4-s {
    max-width: 8rem;
  }

  .mw5-s {
    max-width: 16rem;
  }

  .mw6-s {
    max-width: 32rem;
  }

  .mw7-s {
    max-width: 48rem;
  }

  .mw8-s {
    max-width: 64rem;
  }

  .mw9-s {
    max-width: 96rem;
  }

  .mw10-s {
    max-width: 128rem;
  }

  .mw-none-s {
    max-width: none;
  }

  .mw-max-s {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }

  .mw-min-s {
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
  }

  .mw-fit-s {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }

  .mw-fill-s {
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    max-width: fill-available;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .mw-100-m {
    max-width: 100%;
  }

  .mw-75-m {
    max-width: 75%;
  }

  .mw-50-m {
    max-width: 50%;
  }

  .mw-25-m {
    max-width: 25%;
  }

  .mw1-m {
    max-width: 1rem;
  }

  .mw2-m {
    max-width: 2rem;
  }

  .mw3-m {
    max-width: 4rem;
  }

  .mw4-m {
    max-width: 8rem;
  }

  .mw5-m {
    max-width: 16rem;
  }

  .mw6-m {
    max-width: 32rem;
  }

  .mw7-m {
    max-width: 48rem;
  }

  .mw8-m {
    max-width: 64rem;
  }

  .mw9-m {
    max-width: 96rem;
  }

  .mw10-m {
    max-width: 128rem;
  }

  .mw-none-m {
    max-width: none;
  }

  .mw-max-m {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }

  .mw-min-m {
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
  }

  .mw-fit-m {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }

  .mw-fill-m {
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    max-width: fill-available;
  }
}

@media screen and (min-width: 64em) {
  .mw-100-l {
    max-width: 100%;
  }

  .mw-75-l {
    max-width: 75%;
  }

  .mw-50-l {
    max-width: 50%;
  }

  .mw-25-l {
    max-width: 25%;
  }

  .mw1-l {
    max-width: 1rem;
  }

  .mw2-l {
    max-width: 2rem;
  }

  .mw3-l {
    max-width: 4rem;
  }

  .mw4-l {
    max-width: 8rem;
  }

  .mw5-l {
    max-width: 16rem;
  }

  .mw6-l {
    max-width: 32rem;
  }

  .mw7-l {
    max-width: 48rem;
  }

  .mw8-l {
    max-width: 64rem;
  }

  .mw9-l {
    max-width: 96rem;
  }

  .mw10-l {
    max-width: 128rem;
  }

  .mw-none-l {
    max-width: none;
  }

  .mw-max-l {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }

  .mw-min-l {
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
  }

  .mw-fit-l {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }

  .mw-fill-l {
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    max-width: fill-available;
  }
}

// Widths

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-33 {
  width: 33%;
}

.w-34 {
  width: 34%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.w-at {
  width: auto;
}

@media screen and (min-width: 42em) {

  .w-10-s {
    width: 10%;
  }

  .w-20-s {
    width: 20%;
  }

  .w-25-s {
    width: 25%;
  }

  .w-33-s {
    width: 33%;
  }

  .w-34-s {
    width: 34%;
  }

  .w-40-s {
    width: 40%;
  }

  .w-50-s {
    width: 50%;
  }

  .w-60-s {
    width: 60%;
  }

  .w-75-s {
    width: 75%;
  }

  .w-80-s {
    width: 80%;
  }

  .w-100-s {
    width: 100%;
  }

  .w-at-s {
    width: auto;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {

  .w-10-m {
    width: 10%;
  }

  .w-20-m {
    width: 20%;
  }

  .w-25-m {
    width: 25%;
  }

  .w-33-m {
    width: 33%;
  }

  .w-34-m {
    width: 34%;
  }

  .w-40-m {
    width: 40%;
  }

  .w-50-m {
    width: 50%;
  }

  .w-60-m {
    width: 60%;
  }

  .w-75-m {
    width: 75%;
  }

  .w-80-m {
    width: 80%;
  }

  .w-100-m {
    width: 100%;
  }

  .w-at-m {
    width: auto;
  }
}

@media screen and (min-width: 64em) {

  .w-10-l {
    width: 10%;
  }

  .w-20-l {
    width: 20%;
  }

  .w-25-l {
    width: 25%;
  }

  .w-33-l {
    width: 33%;
  }

  .w-34-l {
    width: 34%;
  }

  .w-40-l {
    width: 40%;
  }

  .w-50-l {
    width: 50%;
  }

  .w-60-l {
    width: 60%;
  }

  .w-75-l {
    width: 75%;
  }

  .w-80-l {
    width: 80%;
  }

  .w-100-l {
    width: 100%;
  }

  .w-at-l {
    width: auto;
  }
}

// Overflows

.of-vis {
  overflow: visible;
}

.of-hid {
  overflow: hidden;
}

.of-scr {
  overflow: scroll;
}

.of-aut {
  overflow: auto;
}

.ofx-vis {
  overflow-x: visible;
}

.ofx-hid {
  overflow-x: hidden;
}

.ofx-scr {
  overflow-x: scroll;
}

.ofx-aut {
  overflow-x: auto;
}

.ofy-vis {
  overflow-y: visible;
}

.ofy-hid {
  overflow-y: hidden;
}

.ofy-scr {
  overflow-y: scroll;
}

.ofy-aut {
  overflow-y: auto;
}

@media screen and (min-width: 42em) {
  .of-vis-s {
    overflow: visible;
  }

  .of-hid-s {
    overflow: hidden;
  }

  .of-scr-s {
    overflow: scroll;
  }

  .of-aut-s {
    overflow: auto;
  }

  .ofx-vis-s {
    overflow-x: visible;
  }

  .ofx-hid-s {
    overflow-x: hidden;
  }

  .ofx-scr-s {
    overflow-x: scroll;
  }

  .ofx-aut-s {
    overflow-x: auto;
  }

  .ofy-vis-s {
    overflow-y: visible;
  }

  .ofy-hid-s {
    overflow-y: hidden;
  }

  .ofy-scr-s {
    overflow-y: scroll;
  }

  .ofy-aut-s {
    overflow-y: auto;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .of-vis-m {
    overflow: visible;
  }

  .of-hid-m {
    overflow: hidden;
  }

  .of-scr-m {
    overflow: scroll;
  }

  .of-aut-m {
    overflow: auto;
  }

  .ofx-vis-m {
    overflow-x: visible;
  }

  .ofx-hid-m {
    overflow-x: hidden;
  }

  .ofx-scr-m {
    overflow-x: scroll;
  }

  .ofx-aut-m {
    overflow-x: auto;
  }

  .ofy-vis-m {
    overflow-y: visible;
  }

  .ofy-hid-m {
    overflow-y: hidden;
  }

  .ofy-scr-m {
    overflow-y: scroll;
  }

  .ofy-aut-m {
    overflow-y: auto;
  }
}

@media screen and (min-width: 64em) {
  .of-vis-l {
    overflow: visible;
  }

  .of-hid-l {
    overflow: hidden;
  }

  .of-scr-l {
    overflow: scroll;
  }

  .of-aut-l {
    overflow: auto;
  }

  .ofx-vis-l {
    overflow-x: visible;
  }

  .ofx-hid-l {
    overflow-x: hidden;
  }

  .ofx-scr-l {
    overflow-x: scroll;
  }

  .ofx-aut-l {
    overflow-x: auto;
  }

  .ofy-vis-l {
    overflow-y: visible;
  }

  .ofy-hid-l {
    overflow-y: hidden;
  }

  .ofy-scr-l {
    overflow-y: scroll;
  }

  .ofy-aut-l {
    overflow-y: auto;
  }
}

// Postionin

.pos-stat {
  position: static;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

/* Values */

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.top-1 {
  top: 1rem;
}

.left-1 {
  left: 1rem;
}

.right-1 {
  right: 1rem;
}

.bottom-1 {
  bottom: 1rem;
}

.top-2 {
  top: 2rem;
}

.left-2 {
  left: 2rem;
}

.right-2 {
  right: 2rem;
}

.bottom-2 {
  bottom: 2rem;
}

.top-4 {
  top: 4rem;
}

.left-4 {
  left: 4rem;
}

.right-4 {
  right: 4rem;
}

.bottom-4 {
  bottom: 4rem;
}

/* Top Percentage based scale */

.top-auto {
  top: auto;
}

.top-i {
  top: inherit;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 42em) {
  .pos-stat-s {
    position: static;
  }

  .pos-rel-s {
    position: relative;
  }

  .pos-abs-s {
    position: absolute;
  }

  .pos-fix-s {
    position: fixed;
  }

  .top-0-s {
    top: 0;
  }

  .left-0-s {
    left: 0;
  }

  .right-0-s {
    right: 0;
  }

  .bottom-0-s {
    bottom: 0;
  }

  .top-1-s {
    top: 1rem;
  }

  .left-1-s {
    left: 1rem;
  }

  .right-1-s {
    right: 1rem;
  }

  .bottom-1-s {
    bottom: 1rem;
  }

  .top-2-s {
    top: 2rem;
  }

  .left-2-s {
    left: 2rem;
  }

  .right-2-s {
    right: 2rem;
  }

  .bottom-2-s {
    bottom: 2rem;
  }

  .top-4-s {
    top: 4rem;
  }

  .left-4-s {
    left: 4rem;
  }

  .right-4-s {
    right: 4rem;
  }

  .bottom-4-s {
    bottom: 4rem;
  }

  .top-auto-s {
    top: auto;
  }

  .top-i-s {
    top: inherit;
  }

  .center-s {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .pos-stat-m {
    position: static;
  }

  .pos-rel-m {
    position: relative;
  }

  .pos-abs-m {
    position: absolute;
  }

  .pos-fix-m {
    position: fixed;
  }

  .top-0-m {
    top: 0;
  }

  .left-0-m {
    left: 0;
  }

  .right-0-m {
    right: 0;
  }

  .bottom-0-m {
    bottom: 0;
  }

  .top-1-m {
    top: 1rem;
  }

  .left-1-m {
    left: 1rem;
  }

  .right-1-m {
    right: 1rem;
  }

  .bottom-1-m {
    bottom: 1rem;
  }

  .top-2-m {
    top: 2rem;
  }

  .left-2-m {
    left: 2rem;
  }

  .right-2-m {
    right: 2rem;
  }

  .bottom-2-m {
    bottom: 2rem;
  }

  .top-4-m {
    top: 4rem;
  }

  .left-4-m {
    left: 4rem;
  }

  .right-4-m {
    right: 4rem;
  }

  .bottom-4-m {
    bottom: 4rem;
  }

  .top-auto-m {
    top: auto;
  }

  .top-i-m {
    top: inherit;
  }

  .center-m {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 64em) {
  .pos-stat-l {
    position: static;
  }

  .pos-rel-l {
    position: relative;
  }

  .pos-abs-l {
    position: absolute;
  }

  .pos-fix-l {
    position: fixed;
  }

  .top-0-l {
    top: 0;
  }

  .left-0-l {
    left: 0;
  }

  .right-0-l {
    right: 0;
  }

  .bottom-0-l {
    bottom: 0;
  }

  .top-1-l {
    top: 1rem;
  }

  .left-1-l {
    left: 1rem;
  }

  .right-1-l {
    right: 1rem;
  }

  .bottom-1-l {
    bottom: 1rem;
  }

  .top-2-l {
    top: 2rem;
  }

  .left-2-l {
    left: 2rem;
  }

  .right-2-l {
    right: 2rem;
  }

  .bottom-2-l {
    bottom: 2rem;
  }

  .top-4-l {
    top: 4rem;
  }

  .left-4-l {
    left: 4rem;
  }

  .right-4-l {
    right: 4rem;
  }

  .bottom-4-l {
    bottom: 4rem;
  }

  .top-auto-l {
    top: auto;
  }

  .top-i-l {
    top: inherit;
  }

  .center-l {
    margin-right: auto;
    margin-left: auto;
  }
}

// Translucent Colors

.black-90 {
  color: rgba(0, 0, 0, .9);
}

.black-80 {
  color: rgba(0, 0, 0, .8);
}

.black-70 {
  color: rgba(0, 0, 0, .7);
}

.black-60 {
  color: rgba(0, 0, 0, .6);
}

.black-50 {
  color: rgba(0, 0, 0, .5);
}

.black-40 {
  color: rgba(0, 0, 0, .4);
}

.black-30 {
  color: rgba(0, 0, 0, .3);
}

.black-20 {
  color: rgba(0, 0, 0, .2);
}

.black-10 {
  color: rgba(0, 0, 0, .1);
}

.white-90 {
  color: rgba(255, 255, 255, .9);
}

.white-80 {
  color: rgba(255, 255, 255, .8);
}

.white-70 {
  color: rgba(255, 255, 255, .7);
}

.white-60 {
  color: rgba(255, 255, 255, .6);
}

.white-50 {
  color: rgba(255, 255, 255, .5);
}

.white-40 {
  color: rgba(255, 255, 255, .4);
}

.white-30 {
  color: rgba(255, 255, 255, .3);
}

.white-20 {
  color: rgba(255, 255, 255, .2);
}

.white-10 {
  color: rgba(255, 255, 255, .1);
}

// Clears

.cn {
  clear: none;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.cb {
  clear: both;
}

/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

// Dimensions

.wrap {
  display: block;
  width: auto !important;
}

.fill {
  display: block;
  overflow: hidden;
  width: auto !important;
}

// Display

.dn {
  display: none;
}

.di {
  display: inline;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.dit {
  display: inline-table;
}

.dt {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.dtc {
  display: table-cell;
}

.dtcol {
  display: table-column;
}

.dtcolg {
  display: table-column-group;
}

@media screen and (min-width: 42em) {
  .dn-s {
    display: none;
  }

  .di-s {
    display: inline;
  }

  .db-s {
    display: block;
  }

  .dib-s {
    display: inline-block;
  }

  .dit-s {
    display: inline-table;
  }

  .dt-s {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .dtc-s {
    display: table-cell;
  }

  .dtcol-s {
    display: table-column;
  }

  .dtcolg-s {
    display: table-column-group;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .dn-m {
    display: none;
  }

  .di-m {
    display: inline;
  }

  .db-m {
    display: block;
  }

  .dib-m {
    display: inline-block;
  }

  .dit-m {
    display: inline-table;
  }

  .dt-m {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .dtc-m {
    display: table-cell;
  }

  .dtcol-m {
    display: table-column;
  }

  .dtcolg-m {
    display: table-column-group;
  }
}

@media screen and (min-width: 64em) {
  .dn-l {
    display: none;
  }

  .di-l {
    display: inline;
  }

  .db-l {
    display: block;
  }

  .dib-l {
    display: inline-block;
  }

  .dit-l {
    display: inline-table;
  }

  .dt-l {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .dtc-l {
    display: table-cell;
  }

  .dtcol-l {
    display: table-column;
  }

  .dtcolg-l {
    display: table-column-group;
  }
}

/*

   FLOATS

   1. Floated elements are automatically rendered as block level elements.
      Setting floats to display inline will fix the double margin bug in
      ie6. You know... just in case.

   Legend

   f = float
   l = left
   r = right
   n = none

*/

.fl {
  float: left;
  display: inline;
}

.fr {
  float: right;
  display: inline;
}

.fn {
  float: none;
}

@media screen and (min-width: 42em) {
  .fl-s {
    float: left;
    display: inline;
  }

  .fr-s {
    float: right;
    display: inline;
  }

  .fn-s {
    float: none;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .fl-m {
    float: left;
    display: inline;
  }

  .fr-m {
    float: right;
    display: inline;
  }

  .fn-m {
    float: none;
  }
}

@media screen and (min-width: 64em) {
  .fl-l {
    float: left;
    display: inline;
  }

  .fr-l {
    float: right;
    display: inline;
  }

  .fn-l {
    float: none;
  }
}

// Buttons

.btn, .btn:link, .btn:visited { 
  text-decoration: none; 
  transition: color 0.4s, 
  background-color 0.4s, 
  border 0.4s;
}

.btn-primary, .btn-primary:link, .btn-primary:visited {
  background-color: $primary-button;
}

.btn-secondary, .btn-secondary:link, .btn-secondary:visited {
  background-color: $secondary-button;
}

.no-backround {
  background: none;
}

// Borders

.no-border {
  border: 0;
}

.b-thin {
  border-width: 1px;
  border-style: solid;
}

.b-medium {
  border-width: 2px;
  border-style: solid;
}

.b-thick {
  border-width: 3px;
  border-style: solid;
}

.bt-thin {
  border-top-width: 1px;
  border-top-style: solid;
}

.bt-medium {
  border-top-width: 2px;
  border-top-style: solid;
}

.bt-thick {
  border-top-width: 3px;
  border-top-style: solid;
}

.bb-thin {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.bb-medium {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.bb-thick {
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.bl-thin {
  border-left-width: 1px;
  border-left-style: solid;
}

.bl-medium {
  border-left-width: 2px;
  border-left-style: solid;
}

.bl-thick {
  border-left-width: 3px;
  border-left-style: solid;
}

.br-thin {
  border-right-width: 1px;
  border-right-style: solid;
}

.br-medium {
  border-right-width: 2px;
  border-right-style: solid;
}

.br-thick {
  border-right-width: 3px;
  border-right-style: solid;
}

// Border Radius

.brn {
  border-radius: 0;
}

.br1 {
  border-radius: .125rem;
}

.br2 {
  border-radius: .25rem;
}

.br3 {
  border-radius: .5rem;
}

.br4 {
  border-radius: 1rem;
}

.br5 {
  border-radius: 2rem;
}

.br-circ {
  border-radius: 9999px;
}

.br-100 {
  border-radius: 100%;
}

@media screen and (min-width: 42em) {
  .brn-s {
    border-radius: 0;
  }

  .br1-s {
    border-radius: .125rem;
  }

  .br2-s {
    border-radius: .25rem;
  }

  .br3-s {
    border-radius: .5rem;
  }

  .br4-s {
    border-radius: 1rem;
  }

  .br5-s {
    border-radius: 2rem;
  }

  .br-circ-s {
    border-radius: 9999px;
  }

  .br-100-s {
    border-radius: 100%;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .brn-m {
    border-radius: 0;
  }

  .br1-m {
    border-radius: .125rem;
  }

  .br2-m {
    border-radius: .25rem;
  }

  .br3-m {
    border-radius: .5rem;
  }

  .br4-m {
    border-radius: 1rem;
  }

  .br5-m {
    border-radius: 2rem;
  }

  .br-circ-m {
    border-radius: 9999px;
  }

  .br-100-m {
    border-radius: 100%;
  }
}

@media screen and (min-width: 64em) {
  .brn-l {
    border-radius: 0;
  }

  .br1-l {
    border-radius: .125rem;
  }

  .br2-l {
    border-radius: .25rem;
  }

  .br3-l {
    border-radius: .5rem;
  }

  .br4-l {
    border-radius: 1rem;
  }

  .br5-l {
    border-radius: 2rem;
  }

  .br-circ-l {
    border-radius: 9999px;
  }

  .br-100-l {
    border-radius: 100%;
  }
}

// Backgrounds

.bg-navy {
  background-color: #001F3F; }

.bg-blue {
  background-color: #0074D9; }

.bg-aqua {
  background-color: #7FDBFF; }

.bg-teal {
  background-color: #39CCCC; }

.bg-olive {
  background-color: #3D9970; }

.bg-green {
  background-color: #2ECC40; }

.bg-lime {
  background-color: #01FF70; }

.bg-yellow {
  background-color: #FFDC00; }

.bg-orange {
  background-color: #FF851B; }

.bg-red {
  background-color: #FF4136; }

.bg-fuchsia {
  background-color: #F012BE; }

.bg-purple {
  background-color: #B10DC9; }

.bg-maroon {
  background-color: #85144B; }

.bg-white {
  background-color: #fff; }

.bg-gray {
  background-color: #EEE; }

.bg-silver {
  background-color: #ddd; }

.bg-black {
  background-color: #111; }

// Text Colors

.navy {
  color: #001F3F; }

.blue {
  color: #0074D9; }

.aqua {
  color: #7FDBFF; }

.teal {
  color: #39CCCC; }

.olive {
  color: #3D9970; }

.green {
  color: #2ECC40; }

.lime {
  color: #01FF70; }

.yellow {
  color: #FFDC00; }

.orange {
  color: #FF851B; }

.red {
  color: #FF4136; }

.fuchsia {
  color: #F012BE; }

.purple {
  color: #B10DC9; }

.maroon {
  color: #85144B; }

.white {
  color: #fff; }

.silver {
  color: #ddd; }

.gray {
  color: #aaa; }

.black {
  color: #111; }

// Borders

.b-navy {
  border-color: #001F3F; }

.b-blue {
  border-color: #0074D9; }

.b-aqua {
  border-color: #7FDBFF; }

.b-teal {
  border-color: #39CCCC; }

.b-olive {
  border-color: #3D9970; }

.b-green {
  border-color: #2ECC40; }

.b-lime {
  border-color: #01FF70; }

.b-yellow {
  border-color: #FFDC00; }

.b-orange {
  border-color: #FF851B; }

.b-red {
  border-color: #FF4136; }

.b-fuchsia {
  border-color: #F012BE; }

.b-purple {
  border-color: #B10DC9; }

.b-maroon {
  border-color: #85144B; }

.b-white {
  border-color: #fff; }

.b-gray {
  border-color: #eee; }

.b-silver {
  border-color: #ddd; }

.b-black {
  border-color: #111; }

// Fills for SVG

.fill-navy {
  fill: #001F3F; }

.fill-blue {
  fill: #0074D9; }

.fill-aqua {
  fill: #7FDBFF; }

.fill-teal {
  fill: #39CCCC; }

.fill-olive {
  fill: #3D9970; }

.fill-green {
  fill: #2ECC40; }

.fill-lime {
  fill: #01FF70; }

.fill-yellow {
  fill: #FFDC00; }

.fill-orange {
  fill: #FF851B; }

.fill-red {
  fill: #FF4136; }

.fill-fuchsia {
  fill: #F012BE; }

.fill-purple {
  fill: #B10DC9; }

.fill-maroon {
  fill: #85144B; }

.fill-white {
  fill: #fff; }

.fill-gray {
  fill: #aaa; }

.fill-silver {
  fill: #ddd; }

.fill-black {
  fill: #111; }

// Strokes for SVG

.stroke-navy {
  stroke: #001F3F; }

.stroke-blue {
  stroke: #0074D9; }

.stroke-aqua {
  stroke: #7FDBFF; }

.stroke-teal {
  stroke: #39CCCC; }

.stroke-olive {
  stroke: #3D9970; }

.stroke-green {
  stroke: #2ECC40; }

.stroke-lime {
  stroke: #01FF70; }

.stroke-yellow {
  stroke: #FFDC00; }

.stroke-orange {
  stroke: #FF851B; }

.stroke-red {
  stroke: #FF4136; }

.stroke-fuchsia {
  stroke: #F012BE; }

.stroke-purple {
  stroke: #B10DC9; }

.stroke-maroon {
  stroke: #85144B; }

.stroke-white {
  stroke: #fff; }

.stroke-gray {
  stroke: #aaa; }

.stroke-silver {
  stroke: #ddd; }

.stroke-black {
  stroke: #111; }

  /*

  Text Align

*/

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

@media screen and (min-width: 42em) {
  .tl-s {
    text-align: left;
  }

  .tr-s {
    text-align: right;
  }

  .tc-s {
    text-align: center;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .tl-m {
    text-align: left;
  }

  .tr-m {
    text-align: right;
  }

  .tc-m {
    text-align: center;
  }
}

@media screen and (min-width: 64em) {
  .tl-l {
    text-align: left;
  }

  .tr-l {
    text-align: right;
  }

  .tc-l {
    text-align: center;
  }
}

/*

   TEXT TRANSFORM

*/

.ttc {
  text-transform: capitalize;
}

.ttl {
  text-transform: lowercase;
}

.ttn {
  text-transform: none;
}

.ttu,
.caps {
  text-transform: uppercase;
}

@media screen and (min-width: 42em) {
  .ttc-s {
    text-transform: capitalize;
  }

  .ttl-s {
    text-transform: lowercase;
  }

  .ttn-s {
    text-transform: none;
  }

  .ttu-s,
  .caps-s {
    text-transform: uppercase;
    letter-spacing: .2em;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .ttc-m {
    text-transform: capitalize;
  }

  .ttl-m {
    text-transform: lowercase;
  }

  .ttn-m {
    text-transform: none;
  }

  .ttu-m,
  .caps-m {
    text-transform: uppercase;
    letter-spacing: .2em;
  }
}

@media screen and (min-width: 64em) {
  .ttc-l {
    text-transform: capitalize;
  }

  .ttl-l {
    text-transform: lowercase;
  }

  .ttn-l {
    text-transform: none;
  }

  .ttu-l,
  .caps-l {
    text-transform: uppercase;
    letter-spacing: .2em;
  }
}

/* ==========================================================================
   TYPE SCALE
   ========================================================================== */

.mega {
  font-size: 4rem;
}

.f1 {
  font-size: 3rem;
}

.f2 {
  font-size: 2rem;
}

.f3 {
  font-size: 1.25rem;
}

.f4 {
  font-size: 1rem;
}

.f5,
.small {
  font-size: .85rem;
}

@media screen and (min-width: 42em) {
  .mega-s {
    font-size: 4rem;
  }

  .f1-s {
    font-size: 3rem;
  }

  .f2-s {
    font-size: 2rem;
  }

  .f3-s {
    font-size: 1.25em;
  }

  .f4-s {
    font-size: 1rem;
  }

  .f5-s {
    font-size: .85rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .mega-m {
    font-size: 4rem;
  }

  .f1-m {
    font-size: 3rem;
  }

  .f2-m {
    font-size: 2rem;
  }

  .f3-m {
    font-size: 1.5rem;
  }

  .f4-m {
    font-size: 1rem;
  }

  .f5-m {
    font-size: .85rem;
  }
}

@media screen and (min-width: 64em) {
  .mega-l {
    font-size: 4rem;
  }

  .f1-l {
    font-size: 3rem;
  }

  .f2-l {
    font-size: 2rem;
  }

  .f3-l {
    font-size: 1.5rem;
  }

  .f4-l {
    font-size: 1rem;
  }

  .f5-l {
    font-size: .85rem;
  }
}

/*

   UTILITIES

*/

.aspect-ratio {
  height: 0;
  padding-top: 56.25%;
  position: relative;
}

.aspect-ratio--object {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.overflow-container {
  overflow-y: scroll;
}

/*

   VISIBILITY

*/

/*
    Text that is hidden but accessible
    Ref: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.clip {
  position: fixed !important;
  _position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

@media screen and (min-width: 42em) {
  .clip-s {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .clip-m {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}

@media screen and (min-width: 64em) {
  .clip-l {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}

/*

   WHITE SPACE

*/

.ws-norm {
  white-space: normal;
}

.ws-nowrap {
  white-space: nowrap;
}

.ws-pre {
  white-space: pre;
}

@media screen and (min-width: 42em) {
  .ws-norm-s {
    white-space: normal;
  }

  .ws-nowrap-s {
    white-space: nowrap;
  }

  .ws-pre-s {
    white-space: pre;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .ws-norm-m {
    white-space: normal;
  }

  .ws-nowrap-m {
    white-space: nowrap;
  }

  .ws-pre-m {
    white-space: pre;
  }
}

@media screen and (min-width: 64em) {
  .ws-norm-l {
    white-space: normal;
  }

  .ws-nowrap-l {
    white-space: nowrap;
  }

  .ws-pre-l {
    white-space: pre;
  }
}

/*

  STYLES

  Add custom styles here.

*/

/*
   VERTICAL ALIGN
*/

.v-base {
  vertical-align: baseline;
}

.v-sub {
  vertical-align: sub;
}

.v-sup {
  vertical-align: super;
}

.v-txt-top {
  vertical-align: text-top;
}

.v-txt-btm {
  vertical-align: text-bottom;
}

.v-mid {
  vertical-align: middle;
}

.v-top {
  vertical-align: top;
}

.v-btm {
  vertical-align: bottom;
}

@media screen and (min-width: 42em) {
  .v-base-s {
    vertical-align: baseline;
  }

  .v-sub-s {
    vertical-align: sub;
  }

  .v-sup-s {
    vertical-align: super;
  }

  .v-txt-top-s {
    vertical-align: text-top;
  }

  .v-txt-btm-s {
    vertical-align: text-bottom;
  }

  .v-mid-s {
    vertical-align: middle;
  }

  .v-top-s {
    vertical-align: top;
  }

  .v-btm-s {
    vertical-align: bottom;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .v-base-m {
    vertical-align: baseline;
  }

  .v-sub-m {
    vertical-align: sub;
  }

  .v-sup-m {
    vertical-align: super;
  }

  .v-txt-top-m {
    vertical-align: text-top;
  }

  .v-txt-btm-m {
    vertical-align: text-bottom;
  }

  .v-mid-m {
    vertical-align: middle;
  }

  .v-top-m {
    vertical-align: top;
  }

  .v-btm-m {
    vertical-align: bottom;
  }
}

@media screen and (min-width: 64em) {
  .v-base-l {
    vertical-align: baseline;
  }

  .v-sub-l {
    vertical-align: sub;
  }

  .v-sup-l {
    vertical-align: super;
  }

  .v-txt-top-l {
    vertical-align: text-top;
  }

  .v-txt-btm-l {
    vertical-align: text-bottom;
  }

  .v-mid-l {
    vertical-align: middle;
  }

  .v-top-l {
    vertical-align: top;
  }

  .v-btm-l {
    vertical-align: bottom;
  }
}
