// Flex box container

  .container {
  display: flex; // Makes container's children flexible
  flex-direction: row | row-reverse | column | column-reverse; // Direction of items, horizontal and vertical
  flex-wrap: nowrap | wrap | wrap-reverse; // Fill up the flexbox
  justify-content: flex-start | flex-end | center | space-between | space-around; // Float left, float right, centered, spaced.
  align-items: flex-start | flex-end | center | baseline | stretch; // Vertical align

    .item {
      order: 1; // Order of the item
      flex-grow: 2; // 2 would take up twice as much space as other items in flexbox
    }

  }

